<a href="https://colab.research.google.com/github/ammu-rajamani/Landing-page/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
import pyspark

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName("example").getOrCreate()

In [ ]:
from pyspark.sql import Row

data = [Row(name="Alice", age=25), Row(name="Bob", age=30), Row(name="Charlie", age=35)]
df = spark.createDataFrame(data)

In [ ]:
df.select("name")

DataFrame[name: string]

In [ ]:
df.filter(df.age > 28).show()

+-------+---+
|   name|age|
+-------+---+
|    Bob| 30|
|Charlie| 35|
+-------+---+

In [ ]:
from pyspark.sql.functions import col
df.withColumn("age_plus_10", col("age") + 10).show()

+-------+---+-----------+
|   name|age|age_plus_10|
+-------+---+-----------+
|  Alice| 25|         35|
|    Bob| 30|         40|
|Charlie| 35|         45|
+-------+---+-----------+

In [ ]:
df.groupBy("age").count().show()

+---+-----+
|age|count|
+---+-----+
| 25|    1|
| 35|    1|
| 30|    1|
+---+-----+

In [ ]:
df.orderBy("age").show()

+-------+---+
|   name|age|
+-------+---+
|  Alice| 25|
|    Bob| 30|
|Charlie| 35|
+-------+---+

In [ ]:
df.orderBy(df.age.desc()).show()

+-------+---+
|   name|age|
+-------+---+
|Charlie| 35|
|    Bob| 30|
|  Alice| 25|
+-------+---+

In [ ]:
df.withColumnRenamed("name", "full_name").show()

+---------+---+
|full_name|age|
+---------+---+
|    Alice| 25|
|      Bob| 30|
|  Charlie| 35|
+---------+---+

In [ ]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType
schema = StructType([StructField("name", StringType(), True),
                     StructField("age", IntegerType(), True)])
data = [("David",22),("Eva",29)]
df2 = spark.createDataFrame(data, schema)
df.show()

+-------+---+
|   name|age|
+-------+---+
|  Alice| 25|
|    Bob| 30|
|Charlie| 35|
+-------+---+

In [ ]:
from pyspark.sql.functions import when, col
df.withColumn("age_group", when(col("age") < 30, "Young").otherwise("Old")).show()

+-------+---+---------+
|   name|age|age_group|
+-------+---+---------+
|  Alice| 25|    Young|
|    Bob| 30|      Old|
|Charlie| 35|      Old|
+-------+---+---------+

In [ ]:
dfwithdupes = df.union(df).show()

+-------+---+
|   name|age|
+-------+---+
|  Alice| 25|
|    Bob| 30|
|Charlie| 35|
|  Alice| 25|
|    Bob| 30|
|Charlie| 35|
+-------+---+

In [ ]:
df_with_dupes = df.union(df)
df_with_dupes.dropDuplicates().show()

+-------+---+
|   name|age|
+-------+---+
|  Alice| 25|
|Charlie| 35|
|    Bob| 30|
+-------+---+

In [ ]:
df.describe().show()

+-------+-------+----+
|summary|   name| age|
+-------+-------+----+
|  count|      3|   3|
|   mean|   NULL|30.0|
| stddev|   NULL| 5.0|
|    min|  Alice|  25|
|    max|Charlie|  35|
+-------+-------+----+

In [ ]:
from pyspark.sql.functions import expr
df.withColumn("age_plus_10", expr("age + 10")).show()

+-------+---+-----------+
|   name|age|age_plus_10|
+-------+---+-----------+
|  Alice| 25|         35|
|    Bob| 30|         40|
|Charlie| 35|         45|
+-------+---+-----------+

In [ ]:
from pyspark.sql.functions import isnull , col
df.select([isnull(c).alias(c) for c in df.columns]).show()

+-----+-----+
| name|  age|
+-----+-----+
|false|false|
|false|false|
|false|false|
+-----+-----+

In [ ]:
df_with_null = spark.createDataFrame([("Alice", 25), ("Bob", None)], ["name", "age"])
df_with_null.filter(df_with_null.age.isNull()).show()

+----+----+
|name| age|
+----+----+
| Bob|NULL|
+----+----+

In [ ]:
df.createOrReplaceTempView("people")
result = spark.sql("SELECT * FROM people WHERE age > 25")
result.show()

+-------+---+
|   name|age|
+-------+---+
|    Bob| 30|
|Charlie| 35|
+-------+---+

In [ ]:
print("Total Rows:", df.count())

Total Rows: 3

In [ ]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: long (nullable = true)

DAY2 PYSPARK

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("PySparkFlowDay2").getOrCreate()

In [ ]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType
schema = StructType([
    StructField("name", StringType(), True),
    StructField("age", IntegerType(), True)
])

data = [("Alice", 25),
        ("Bob", 30),
        ("Charlie", 35)]
df = spark.createDataFrame(data, schema)
df.show()

+-------+---+
|   name|age|
+-------+---+
|  Alice| 25|
|    Bob| 30|
|Charlie| 35|
+-------+---+